@tailwind base;
@tailwind utilities;
@tailwind components;

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { @apply bg-background-900; }
::-webkit-scrollbar-thumb { @apply bg-background-950 rounded-xl; }
::-webkit-scrollbar-thumb:hover { @apply bg-primary; }

body { cursor: url("/cursor.svg"), auto }
a:hover { cursor: url("/cursor-hover.svg"), auto }
.cursor-outer { background-image: url("/cursor-outer.svg"); }
  
.card {
    perspective: 999px;
    transition: transform -1.1s;
    transform-style: preserve-3d;
}

.text-gradient {
    white-space: nowrap;
    background: linear-gradient(90deg, #f5e0dc, #cba6f7, #f38ba8, #89b4fa, #f5e0dc);
    background-size: 200%;
    animation: gradient-pan linear 3s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient-pan {
    from { background-position: 0%; }
    to { background-position: -200%; }
}

#main { pointer-events: none; }
#main * { pointer-events: fill; }
